<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>KWS PAYMENT</title>
    <style>
        input,
        #card-element {
            border: 2px solid black;
        }
    </style>
</head>

<body class="bg-white">
    <div id="admin_gear" class="flex flex-row-reverse items-end justify-between p-5">
        <div onclick="logout()" class="flex cursor-pointer items-center">
            <img src="https://img.icons8.com/android/24/000000/logout-rounded-left.png" /> <span
                class="ml-2">Logout</span>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <form action="/charge" onsubmit="submit_button.disabled = true; return true;" method="POST"
            class="flex flex-col w-1/2">
            <input class="bg-transparent border-gray-700	 text-black p-2 h-10 mb-4" id="input-name" type="text"
                name="name" list="name" placeholder="Card Holder Name">
            <datalist id="name">

            </datalist>
            <input type="email" id="input-email" class="bg-transparent border-gray-700	 text-black p-2 h-10 mb-4"
                name="email" placeholder="Card Holder Email" list="email">
            <datalist id="email">

            </datalist>
            <input class="bg-transparent border-gray-700	 text-black p-2 h-10 mb-4" type="text" name="amount"
                placeholder="Amount">
            <input class="bg-transparent border-gray-700	 text-black p-2 h-10 mb-4" type="text" name="description"
                placeholder="Description/Order ID*">

            <div id="card-element" class="bg-transparent border-gray-700 text-black p-2 h-10 mb-4"></div>
            <div id="card-errors" role="alert"></div>
            <input hidden type="text" name="card" id="input-card-list"
                class="bg-transparent border-gray-700 text-black p-2 h-10 mb-4" name="email"
                placeholder="Customer Cards" list="card-list">
            <datalist id="card-list">
            </datalist>
            <button name="submit_button" class="text-white bg-purple-900 p-4 rounded">Submit Payment</button>
        </form>
    </div>
</body>

<script src="https://js.stripe.com/v3/"></script>
<script src="card.js"></script>
<script src="user.js"></script>

</html>