<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>i360Stripe</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
</head>

<body class="flex h-screen">
    <div class="w-full max-w-xs m-auto bg-indigo-100 rounded p-5">
        <header>
            <span id="error_message" class="w-full --2 mb-6 border-b-2">
                <%= error %>
            </span>
        </header>
        <form onsubmit="onSubmit()" id="form1">
            <div>
                <label class=" block mb-2 text-indigo-500" for="password">Old Password</label>
                <input required
                    class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
                    type="password" name="oldPassword" id="oldPassword">
                <span hidden name="username" id="username_error" class="text-xs text-red-500">username is
                    required</span>
            </div>
            <div>
                <label class=" block mb-2 text-indigo-500" for="password">New Password</label>
                <input required
                    class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
                    type="password" name="newPassword" id="newPassword">
            </div>
            <div>
                <label class=" block mb-2 text-indigo-500" for="password">Confirm Password</label>
                <input required
                    class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
                    type="password" onkeyup="check()" name="confirmPassword" id="confirmPassword">
                <span id="message" class="text-xs text-red-500"></span>
            </div>
            <div>
                <button class="w-full bg-indigo-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded"
                    type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</body>
<script>
    var check = function () {
        if (document.getElementById('confirmPassword').value ==
            document.getElementById('newPassword').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
        }
    }
    const toggleDisplay = (id, isHidden) => {
        document.getElementById(id).hidden = isHidden
    }

    const password = document.getElementById("username")
    const username = document.getElementById("password")
    console.log(username)
    password.addEventListener(("blur"), () => {
        if (password.innerHTML.length < 2) {
            toggleDisplay("password_error", true)

        } else {
            toggleDisplay("password_error", false)
        }
    })


    username.addEventListener(("blur"), () => {
        if (password.innerHTML.length < 2) {
            toggleDisplay("username_error", true)

        } else {
            toggleDisplay("username_error", false)
        }
    })


    const onSubmit = () => {
        console.log("in heree ejdnj")
        const oldPassword = document.getElementById("oldPassword")
        const newPassword = document.getElementById("newPassword")
        const empty = []
        let status

        if (!empty.length) {
            toggleDisplay("password_error", false)
            toggleDisplay("username_error", false)
            const data = {
                oldPassword: oldPassword.innerText,
                newPassword: newPassword.innerText
            }

            const token = localStorage.getItem("token");
            console.log("token", token);

            let status;
            console.log(username, role);

            return fetch(`/reset_password`, {
                method: "POST",
                headers: new Headers({
                    Authorization: token,
                    "Content-Type": "application/json",
                }),
                body: JSON.stringify({ username, role, email }),
            })
                .then((res) => {
                    status = res.status;
                    return res.json();
                })
                .then((data) => {
                    if (status === 401) window.location = "/";
                    else {
                        if (status === 204) {
                            alert("updated");
                        } else if (status === 400) {
                            alert(data.error);
                        }
                    }
                })
                .finally(() => (window.location = "/payment"));
        }
    }


</script>

</html>